.ProductsContainer h2 {
    padding: 2rem;
    text-align: center;
}

.gridProducts {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: #2a2c2f;
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

.products img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 4px;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    min-height: 100vh;
    /* full viewport height */

}


.pageNumbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
}


.pageNumbers span {
    cursor: pointer;
    font-size: 1.1rem;
}